body {
  padding-left: 107px;
  max-width: 100%;
}
.header-content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;
  align-items: center;
  width: 100%;
}
.start {
  font-size: 18px;
  background-color: #13183f;
  border-radius: 28px;
  text-align: center;
  margin-left: 831.04px;
}
.start p {
  text-align: center;
  padding: 14px 31px 14px 32px;
  color: #ffffff;
}
section {
  margin-top: 185.57px;
}
.skills h1 {
  font-size: 56px;
  color: #13183f;
  width: 457px;
}
.skills p {
  font-size: 18px;
  width: 445px;
  color: #83869a;
  line-height: 28px;
  margin-top: 29px;
}
.get-started {
  background-color: #f02aa6;
  display: inline-block;
  border-radius: 31.5px;
  font-size: 18px;
  padding: 19px 31px 16px 32px;
  color: #ffffff;
  margin-top: 40px;
}
.box-container {
  display: flex;
  flex-wrap: wrap;
}
.girl-image {
  position: relative;
  margin-left: 249.26px;
}
.girl-image .rectangle {
  position: absolute;
  bottom: -162px;
}

.girl-image .girl {
  position: absolute;
  border-radius: 158.5px;
  object-fit: cover;
  bottom: -162px;
  width: 317px;
  height: 560px;
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
}
.girl-image .course {
  position: absolute;
  background-color: #ffffff;
  border-radius: 15px;
  bottom: -6px;
  right: -66px;
}

.course h1 {
  font-size: 16px;
  color: #83869a;
  padding: 20px 72px 0px 24px;
}
.course h2 {
  font-size: 40px;
  color: #13183f;
  margin-top: 2px;
  padding: 0px 72px 20px 24px;
}
.girl-image .members {
  position: absolute;
  background-color: #ffffff;
  border-radius: 15px;
  left: 275px;
  top: -40px;
}
.members h1 {
  font-size: 16px;
  color: #83869a;
  padding: 20px 57px 0px 24px;
}
.members h2 {
  font-size: 40px;
  color: #13183f;
  margin-top: 2px;
  padding: 0px 59px 20px 24px;
}
.most-popular-courses {
  display: flex;
  margin-top: 250px;
  flex-wrap: wrap;
  background-color: #ffffff;
}
.check-courses {
  border-radius: 15px;
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  width: 350px;
  height: 322px;
  align-items: center;
}
.check-courses p {
  color: #ffffff;
  font-size: 32px;
  padding: 64px 32px 138px 32px;
  width: 286px;
  height: 120px;
}
.animation {
  border-radius: 15px;
  margin-left: 30px;
  width: 350px;
  height: 322px;
}
.animation h1 {
  margin-top: 32px;
  color: #13183f;
  font-size: 24px;
}
.animation p {
  margin-top: 24px;
  font-size: 18px;
  color: #83869a;
  width: 286px;
  height: 112px;
}
.animation h6 {
  margin-top: 24px;
  font-size: 18px;
  color: #f74780;
}
.design {
  border-radius: 15px;
  margin-left: 30px;
  width: 350px;
  height: 322px;
}
.design h1 {
  margin-top: 32px;
  color: #13183f;
  font-size: 24px;
}
.design p {
  margin-top: 24px;
  font-size: 18px;
  color: #83869a;
  width: 286px;
  height: 84px;
}
.design h6 {
  margin-top: 52px;
  font-size: 18px;
  color: #f74780;
}
.photography {
  border-radius: 15px;
  margin-top: 56px;
  width: 350px;
  height: 322px;
}
.photography h1 {
  margin-top: 32px;
  color: #13183f;
  font-size: 24px;
}
.photography p {
  margin-top: 24px;
  font-size: 18px;
  color: #83869a;
  width: 286px;
  height: 84px;
}
.photography h6 {
  margin-top: 56px;
  font-size: 18px;
  color: #f74780;
}
.crypto {
  border-radius: 15px;
  margin-top: 56px;
  margin-left: 30px;
  width: 350px;
  height: 322px;
}
.crypto h1 {
  margin-top: 32px;
  color: #13183f;
  font-size: 24px;
}
.crypto p {
  margin-top: 24px;
  font-size: 18px;
  color: #83869a;
  width: 286px;
  height: 112px;
}
.crypto h6 {
  margin-top: 24px;
  font-size: 18px;
  color: #f74780;
}
.business {
  border-radius: 15px;
  margin-top: 56px;
  margin-left: 30px;
  width: 350px;
  height: 322px;
}
.business h1 {
  margin-top: 32px;
  color: #13183f;
  font-size: 24px;
}
.business p {
  margin-top: 24px;
  font-size: 18px;
  color: #83869a;
  width: 286px;
  height: 112px;
}
.business h6 {
  margin-top: 24px;
  font-size: 18px;
  color: #f74780;
}
